Flask==3.0.0
gunicorn
psycopg2-binary
python-dotenv==1.0.0
openai>=1.0.0
pytz
requests
openpyxl>=3.1.0
Flask-Compress
transfermarkt-scraper @ git+https://github.com/dcaribou/transfermarkt-scraper.git@6c1eb59a59349f6869155164808e17c617b0e80d