body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

body.dark-mode .custom-navbar {
    background-color: #222;
    color: #f1f1f1;
}

body.dark-mode a {
    color: #ffffff;
}

body.dark-mode .login-box {
    background-color: #1e1e1e;
    color: #f1f1f1;
    border: 1px solid #333;
}

body.dark-mode .login-box input[type="text"],
body.dark-mode .login-box input[type="password"] {
    background-color: #121212; /* stesso colore dello sfondo della pagina */
    color: #f1f1f1;            /* testo chiaro */
    border: 1px solid #444;
}
