{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="mb-4">Home admin</h1>
    </div>

    <!-- Bottoni disposti in grid responsive come la homepage -->
    <div class="buttons">
        <a href="{{ url_for('admin.admin_crediti') }}" class="btn">Gestione Crediti</a>
        <a href="{{ url_for('admin.invia_comunicazione') }}" class="btn">Invio Messaggio</a>
        <a href="{{ url_for('admin.richiesta_modifica_contratto') }}" class="btn">Richieste Modifica Contratto</a>
        <a href="/logout" class="btn btn-purple">
            <i class="bi bi-box-arrow-right"></i> Logout
        </a>
    </div>
</div>
{% endblock %}
