<!DOCTYPE html>
<html lang="it" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Web App Fanta Manageriale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <!-- CSS personalizzati -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='darkmode.css') }}">

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

	<!-- Effetto Neve-->
	<!-- Libreria tsParticles -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.12.0/tsparticles.confetti.bundle.min.js"></script> -->
	<!-- <script src="{{ url_for('static', filename='js/snow.js') }}"></script> -->

</head>
<body>

     <!-- Navbar minimale -->
    <div class="custom-navbar d-flex align-items-center">

        <h1 class="m-0 text-start fs-4">Fantacalcio Manageriale</h1>

        <!-- Contenitore icone allineato a destra -->
        <div class="navbar-icons ms-auto d-flex">
            <!-- Icona login-->
            <a href="/login" class="navbar-icon">
                <i class="bi bi-person-circle"></i>
            </a>
            <!-- Icona casetta -->
            <a href="/" class="navbar-icon">
                <i class="bi bi-house-fill"></i>
            </a>
            <!-- Icona dark mode -->
            <a href="javascript:void(0)" id="darkModeToggle" class="navbar-icon">
                <i class="bi bi-moon"></i>
            </a>
        </div>
    </div>

    <div class="content-wrapper">

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="container mt-3">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

	<!-- Riferimenti tabelle -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
	<script src="{{ url_for('static', filename='js/tables.js') }}"></script>

</body>
</html>
