{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
    <img src="{{ url_for('static', filename='images/logo3.png') }}" alt="Logo" class="logo">
    <h1>Benvenuto</h1>

    <!-- Bottoni principali -->
    <div class="buttons">
        <a href="{{ url_for('squadre') }}" class="btn">Squadre</a>
        <a href="{{ url_for('creditiStadiSlot') }}" class="btn">Crediti, Stadi <br>e Slot</a>
        <a href="https://www.fantacalcio.it/quotazioni-fantacalcio" class="btn" target="_blank" rel="noopener noreferrer">Listone</a>
        <a href="{{ url_for('aste') }}" class="btn">Aste</a>
        <a href="{{ url_for('movimenti_mercato') }}" class="btn">Movimenti <br>di Mercato</a>
        <a href="{{ url_for('chat_page') }}" class="btn">Chatbot <br>regolamento</a>
    </div>

    <!-- Bottone per vedere il regolamento -->
    <div class="footer">
        <a href="/scarica_regolamento" class="btn-small">Regolamento</a>
    </div>
</div>
{% endblock %}
