{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
    <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo" class="logo">
    <h1>Benvenuto</h1>

    <!-- Bottoni principali -->
    <div class="buttons">
        <a href="{{ url_for('login_admin') }}" class="btn">Admin</a>
        <a href="{{ url_for('login_squadre') }}" class="btn">Squadre</a>
    </div>

    <!-- Bottone per scaricare il regolamento -->
    <div class="footer">
        <a href="/scarica-regolamento" class="btn-small">Scarica Regolamento</a>
    </div>
</div>
{% endblock %}
