{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Rosa di {{ nome_squadra | replace('_',' ') }}</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ruolo</th>
                    <th>Nome Giocatore</th>
                    <th>Squadra</th>
                    <th>Voto</th>
                </tr>
            </thead>
            <tbody>
                {% for giocatore in rosa %}
                <tr>
                    <td>{{ giocatore.ruolo }}</td>
                    <td>{{ giocatore.nome }}</td>
                    <td>{{ giocatore.squadra }}</td>
                    <td>{{ giocatore.voto }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
