{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="mb-4">Sezione riservata di {{ nome_squadra }}</h1>
        <p class="lead">Gestisci gli aspetti della tua squadra da qui.</p>

        <a href="{{ url_for('user.user_aste', nome_squadra=nome_squadra) }}" class="btn btn-primary btn-lg">
            <i class="bi bi-cash-stack"></i> Aste
        </a>

        <a href="{{ url_for('user.user_mercato', nome_squadra=nome_squadra) }}" class="btn btn-primary btn-lg">
            <i class="bi bi-cash-stack"></i> Mercato
        </a>

        <a href="{{ url_for('user.user_prestiti', nome_squadra=nome_squadra) }}" class="btn btn-primary btn-lg">
            <i class="bi bi-cash-stack"></i> Prestiti
        </a>

        <a href="/cambia_password" class="btn btn-warning btn-lg">
            <i class="bi bi-key-fill"></i> Cambia Password
        </a>
    </div>
</div>
{% endblock %}
