<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Stadi - Fanta Manageriale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/stadium_no_bg.png') }}" alt="stadium" class="center-image">

        <h1>Lista Stadi</h1>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Proprietario</th>
                        <th>Crediti annui generati</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="footer-link">
            <a href="/login-squadre">← Torna alle Squadre</a>
        </div>
    </div>
</body>
</html>